<div id="bank-account-types">
<div class="card shadow">
  <h5 class="card-header">Tipos de Conta Bancária</h5>
  <div class="card-body">
    <% if @data[:account_types].empty? %>
      <p>Sem tipos de conta cadastradas.</p>
    <% else %>
      <table class="table table-borderless">
        <tbody>
        <% @data[:account_types].each do |type| %>
          <tr class="border-bottom">
            <td><%= type.title %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <footer class="text-right card-footer">
    <%= render 'shared/button_trigger_modal', path: new_bank_account_type_path, header: 'Novo Tipo de Conta', size: '' do %>
      Novo
    <% end %>
  </footer>
</div>
</div>